body {
    font-size: 18px;
    font: "Open Sans", sans-serif; 
    line-height: 1.5;
    margin: 1.25rem auto;
    max-width: 760px;
}

header, footer {
    background-color: #3c1f41;
    color: white;
    text-align: center;
    border-radius: 15px;
}
main {
    margin: 10px;
}

header {
    padding: .5rem;
    font-size: 24px;
}

img {
    float: right;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#byuilink {
    color: white;
}
