@media only screen and (min-width: 40em) {
    
    main {
        max-width: 600px;
    }
    h2 {
        padding: 40px;
        font-size: 36px;
    }
    #gallery {
        margin: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}