body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    background-color: #315162;
}

main {
    margin: 1.25rem auto;
    max-width: 300px;
    background-color: #315162;
}

#friday {
    display: none;
    background-color: #D9B359;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    line-height: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* header */ 

header {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
}

#icon {
    height: 200px;
    justify-self: end;
    align-items: center;
}

#header-and-nav {
    background-color: #5C7B89;
}

h1 {
    font-size: 32px;
    padding-top: 50px;
    padding-left: 0px;
    margin-bottom: 0px;
    font-family: 'Playfair-Display', serif;
    color: #EAF0F9;
}

#moto {
    font-size: 16px;
}

footer {
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* nav menu */

.navigation {
    background-color: #EAF0F9;
    clear: left;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

#page-on-nav {
    background-color: #315162;
    color: #EAF0F9;
}

li {
    display: none;
}

li a {
    display: block;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	color:#315162;
}

li a:hover {
    color: black;
    background-color: #EAF0F9;
}

li:first-child {
    display: block;
}

.responsive li {
    display: block;
}

/* main */

h2 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-family: 'Playfair-Display', serif;
    color: #EAF0F9;
}


/* gallery */

#gallery {
    margin: 30px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

figure {
    background-color: #EAF0F9;
}

img {
    width: 100;
    justify-items: center;
    padding: 15px;
    padding-bottom: 8px;
}

figcaption {
    margin-bottom: 15px;
    margin-left: 15px;
    color: #315162;
}

/* footer  */

footer {
    background-color: #315162;
    color: #EAF0F9;
    padding: 10px;
    text-align: center;
    line-height: .5;
}