/* @import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@600&display=swap'); */

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    background-color: #30455B;
}

main {
    margin: auto;
    width: 100%;
    max-width: 860px;
    background-color: #30455B;
}

/* header */ 

header {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
}

#icon {
    height: 200px;
    justify-self: end;
    align-items: center;
    padding-top: 35px;
}

#header-and-nav {
    background-color: #182A3C;
}

h1 {
    font-size: 40px;
    padding-top: 50px;
    padding-left: 0px;
    margin-bottom: 0px;
    font-family: 'Playfair-Display', serif;
    color: #EAF0F9;
}

#moto {
    font-size: 16px;
    font-family: 'Playfair-Display', serif;
    color: #EAF0F9;
}

/* nav menu */

.navigation {
    background-color: #88CCD1;
    clear: left;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

#preston-nav {
    background-color: #30455B;
    color: #EAF0F9;
}

li {
    display: none;
}

li a {
    display: block;
	text-align: center;
	text-decoration: none;
	color:#194151;
}

li a:hover {
    color: #182A3C;
    background-color: #EAF0F9;
    box-shadow: 3px 3px 8px #D9B358;
}

li:first-child {
    display: block;
}

.responsive li {
    display: block;
}

/* main */

h2 {
    text-align: center;
    padding: 50px;
    font-size: 36px;
    font-family: 'Playfair-Display', serif;
    color: #EAF0F9;
}

h3 {
    font-size: 24px;
    line-height: .8rem;
    font-family: 'Playfair-Display', serif;
    color: #182A3C;
}

h4 {
    font-size: 18px;
    font-family: 'Playfair-Display', serif;
    color: #182A3C;
}

.heroimg {
    width: 96%;
    max-width: 850px;
    position: absolute;
}

/* table weather sum */

#weathersumtable {
    background-color: rgba(66, 144, 92, 0.938);
    padding: 10px;
    color: #EAF0F9;
    font-size: 16px;
    position: relative;
    margin: 18px;
    margin-top: 50px;
}

#tablehead {
    font-size: 18px;
}

.columnone {
    text-align: right;
    padding-right: 10px;
}

.columntwo {
    color: #CD9737;
}

/* table five day forcast */

#fivedayforcast {
    background-color: #EAF0F9;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    align-items: center;
    margin-top: 70px;
}

#fiveforcasttable {
    margin-left: auto;
    margin-right: auto;
}

#icon0, #icon1, #icon2, #icon3, #icon4 {
    height: 60px;
}

/* article */

#article {
    background-color: #EAF0F9;
    padding: 25px;
    margin-top: 50px;
}

#park {
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#articleauthor {
    font-size: 14px;
    color: #182A3C;
}

p {
    color: #182A3C;
}
/* map and contact info */

#map-contact {
    background-color: #EAF0F9;
    padding: 25px;
    margin-top: 50px;
}

#map {
    width: 100%;
}


/* footer */

footer {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #88CCD1;
    color: #182A3C;
    padding: 10px;
    text-align: center;
    line-height: 1em;
    margin-top: 100px;
}

/* pancake message */

#friday {
    display: none;
    background-color: #D9B359;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    line-height: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

