@media only screen and (min-width: 60em) {

    h1 {
        font-size: 60px;
    }
    
    h2 {
        font-size: 45px;
    }
    
    #moto {
        font-size: 24px;
    }
    
    #icon {
        height: 300px;
    }
    
    .navigation {
        display: flex;
        flex-direction: row;
        padding-left: 20px;
    }
    
    li {
        display: block;
        flex: 1 1 auto;
    }
    
    li a {
        display: block;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        color:#315162;
        font-size: 18px;
    }
    
    li:first-child {
        display: none;
    }
    
    .responsive li {
        display: none;
    }
    
    .heroimg {
        width: 850px;
    }
    
    #weathersumtable {
        padding: 10px;
        font-size: 18px;
        margin: 30px;
        margin-top: 80px;
    }
    
    #tablehead {
        font-size: 24px;
    }
    
    #fivedayforcast {
        margin-top: 185px;
    }
    
    #fivedayforcast {
        font-size: 18px;
    }
    
    #icon0, #icon1, #icon2, #icon3, #icon4 {
        height: 80px;
    }

    #park {
        height: 250px;
        margin-left: 15px;
        margin-top: 18px;
        float: right;
    }
    
    .forcasticon {
        height: 100px;
    }
    }    