@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@600&display=swap');


@media only screen and (min-width: 32em) {

h1 {
    font-size: 40px;
}

#moto {
    font-size: 18px;
}

#icon {
    height: 200px;
}

.navigation {
    display: flex;
}

li {
    display: block;
    flex: 1 1 auto;
}

li:first-child {
    display: none;
}

.responsive li {
    display: none;
}

}    

@media only screen and (min-width: 18.75em) {

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    margin: 1.25rem auto;
    max-width: 850px;
}



/* header */ 

#icon {
    height: 150px;
    padding: 15px;
    float: left;
}

header {
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1 {
    font-size: 32px;
    padding-top: 50px;
    padding-left: 180px;
    margin-bottom: 0px;
}

#moto {
    font-size: 16px;
    /* padding-left: 185px; */
}

footer {
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* nav menu */

.navigation {
    background-color: #2E387B;
    clear: left;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

li {
    display: none;
}

li a {
    display: block;
	padding: 15px;
	text-align: left;
	text-decoration: none;
	color:#EAF0F9;
	/* font-weight: 700; */
}

li a:hover {
    color: black;
    background-color: #EAF0F9;
}

li:first-child {
    display: block;
}

.responsive li {
    display: block;
}



/* main */

h2 {
    text-align: center;
    padding: 15px;
    font-size: 32px;
}

.contentbox {
    border: 1px dashed #577A3C;
    padding: 15px;
    background-color: #EAF0F9;
    margin: 10px auto;
    font-style: italic;
    
}



/* footer */

footer {
    background-color: #2E387B;
    color: #EAF0F9;
    padding: 10px;
    text-align: center;
    line-height: .5;
}

/* #footwords {
    padding-bottom: 0px;
}

#currentdate {
    padding-top: 0px;
} */

}