@media only screen and (min-width: 60em) {

    h1 {
        font-size: 60px;
    }
    
    h2 {
        font-size: 45px;
    }
    
    #moto {
        font-size: 18px;
    }
    
    #icon {
        height: 300px;
    }

    .navigation {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

li {
    display: block;
    flex: 1 1 auto;
}

li a {
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color:#315162;
    font-size: 18px;
}

li:first-child {
    display: none;
}

.responsive li {
    display: none;
}

section {
    display: block;
    
}

.cards {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
}

.textDiv {
    flex-wrap: none;
}

div.cards img {
    width: 90%;
    margin: 10px;
}

}