/* @import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@600&display=swap'); */

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    background-color: #315162;
}

main {
    margin: 1.25rem auto;
    max-width: 850px;
    background-color: #315162;
}

/* header */ 

#icon {
    height: 150px;
    padding: 15px;
    float: left;
    padding-left: 200px;
}

#header-and-nav {
    background-color: #5C7B89;
}

header {
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1 {
    font-size: 32px;
    padding-top: 50px;
    padding-left: 0px;
    margin-bottom: 0px;
    font-family: 'Playfair-Display', serif;
    color: #EAF0F9;
}

#moto {
    font-size: 16px;
}

footer {
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* nav menu */

.navigation {
    background-color: #EAF0F9;
    clear: left;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

#preston-nav {
    background-color: #315162;
    color: #EAF0F9;
}

li {
    display: none;
}

li a {
    display: block;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	color:#315162;
}

li a:hover {
    color: black;
    background-color: #EAF0F9;
}

li:first-child {
    display: block;
}

.responsive li {
    display: block;
}

/* main */

h2 {
    text-align: center;
    padding: 50px;
    font-size: 36px;
    font-family: 'Playfair-Display', serif;
    color: #EAF0F9;
}

h3 {
    font-size: 24px;
    line-height: .8rem;
    font-family: 'Playfair-Display', serif;
}

h4 {
    font-size: 18px;
    font-family: 'Playfair-Display', serif;
}

.contentbox {
    border: 1px dashed #577A3C;
    padding: 15px;
    background-color: #EAF0F9;
    margin: 10px auto;
    font-style: italic;
}

.heroimg {
    width: 100%;
    position: absolute;
}

/* table weather sum */

#weathersumtable {
    background-color: rgba(42,114,83, 0.9);
    padding: 10px;
    color: white;
    font-size: 16px;
    position: relative;
    margin: 18px;
    margin-top: 50px;
}

#tablehead {
    font-size: 18px;
}

.columnone {
    text-align: right;
    padding-right: 10px;
}

.columntwo {
    color: #CD9737;
}

/* table five day forcast */

#fivedayforcast {
    background-color: white;
    font-size: 18px;
    text-align: center;
    padding: 15px;
    align-items: center;
    margin-top: 70px;
}

#fiveforcasttable {
    margin-left: auto;
    margin-right: auto;
}

.forcasticon {
    height: 80px;
}

/* article */

#article {
    background-color: white;
    padding: 25px;
    margin-top: 50px;
}

#park {
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#articleauthor {
    font-size: 12px;
    color: green;
}

/* map and contact info */

#map-contact {
    background-color: white;
    padding: 25px;
    margin-top: 50px;
}

#map {
    width: 100%;
}


/* footer */

footer {
    background-color: #315162;
    color: #EAF0F9;
    padding: 10px;
    text-align: center;
    line-height: .5;
}

/* pancake message */

#friday {
    display: none;
    background-color: #D9B359;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    line-height: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

