
/* form */

form fieldset {
    background-color: #EAF0F9;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
    padding-bottom: 25px;
}

form legend {
    background-color: #D9B359;
    color: #17386F;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}

form label.toplabel, form div {
    display: block;
    padding-top: 1rem;
    color: #17386F;
    font-size: 16px;
}

form label.toplabel input, form label.toplabel select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: 10px;
    color: #555;
    width: 94%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

.sbslabel {
    display: inline;
    padding: .75rem 0;
    color: #ccc;
}

form input.submit {
    border: none;
    background-color: #D9B359;
    color: #263C44;
    border-radius: 100px;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 100%;
    max-width: 21rem;
    font-size: 16px;
}

/* slider */

.slider {
    color: pink;
    /* -webkit-appearance: none;
    display: none;
    width: 100%;
    height: 1px;
    border-radius: 0px;
    background: pink;
    color: yellow;
    background-color: green;
    border: none;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s; */

    /* -webkit-appearance: none;
    appearance: none;
    border: none;
    color: pink;
    background: pink;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s; */
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #182A3C;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #182A3C;
    cursor: pointer;
}

#ten-label {
    display: flex;
    flex-direction: row-reverse;
    max-width: 22rem;
}

/* thanks page */

#thanks {
    background-color: #EAF0F9;
    color: #17386F;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    line-height: .5em;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
