@media only screen and (min-width: 40em) {

.navigation {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

li {
    display: block;
    flex: 1 1 auto;
}

li a {
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color:#315162;
    font-size: 18px;
}

li:first-child {
    display: none;
}

.responsive li {
    display: none;
}
}