@media only screen and (min-width: 60em) {

    h1 {
        font-size: 48px;
    }
    
    h2 {
        font-size: 36px;
    }
    
    #moto {
        font-size: 18px;
    }
    
    #icon {
        height: 150px;
    }

    .navigation {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

li {
    display: block;
    flex: 1 1 auto;
}

li a {
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color:#315162;
    font-size: 18px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

li:first-child {
    display: none;
}

.responsive li {
    display: none;
}
}