@media only screen and (min-width: 40em) {

section {
    display: flex;
    flex-direction: row;
}

div.cards section {
    text-align: left;
    margin-top: 55px;
}

.textDiv {
    margin-left: 15px;
    flex-wrap: wrap;
}

div.cards img {
    width: 50%;
    margin: 10px;
}

div.cards h2 {
    font-size: 28px;
}

div.cards h3 {
    font-size: 16px;
}
}