@media only screen and (min-width: 40em) {
    
    main {
        max-width: 600px;
    }
    h2 {
        padding: 40px;
        font-size: 36px;
    }
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    figure:hover {
        box-shadow: 7px 4px 24px -6px #D9B359;;
        cursor: pointer;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        padding-left: 20px;
    }
    
    li {
        display: block;
        flex: 1 1 auto;
    }
    
    li a {
        display: block;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        color:#315162;
        font-size: 18px;
    }
    
    li:first-child {
        display: none;
    }
    
    .responsive li {
        display: none;
    }
}